.profileContainer {
  width: 336px;
  height: 344px;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 8px;
}

.topSection {
  flex: 3;
  position: relative;
  border-bottom: 0.1px solid gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.orangeBackground {
  width: 336px;
  height: 50%;
  background-color: orange;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.profileImage {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 30%;
}

.userInfo {
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  margin-bottom: 16px;
}

.bottomSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.statContainer {
  width: 30%;
  height: 90%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
